services:
  # --- Backend Service ---
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: neurogrid-server
    restart: unless-stopped
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - SERVER_BASE_URL=https://www.neurogrid-x.com
      - CLIENT_URL=https://www.neurogrid-x.com
    # depends_on:
    #   - mongo

  # --- Frontend Service ---
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      # pass these args for Vite
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL}
        - VITE_GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
    container_name: neurogrid-client
    restart: unless-stopped
    ports:
      - "3050:80" # Maps local port 3000 to internal Nginx port 80
    depends_on:
      - server

  # --- Optional: Self-Hosted MongoDB ---
  # mongo:
  #   image: mongo:latest
  #   container_name: neurogrid-mongo
  #   restart: unless-stopped
  #   volumes:
  #     - mongo-data:/data/db
  #   ports:
  #     - "27017:27017"

# volumes:
#   mongo-data: