.validation-errors-container {
  width: 100%;
  background-color: #442c2c;
  border: 1px solid #ff6b6b;
  border-radius: 4px;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
}

.validation-errors-container ul {
  list-style-type: none;
  padding: 0 1.5rem;
  margin: 0;
  color: #ffc9c9;
}