.app-footer {
  background-color: var(--color-background);
  padding: 3rem 2rem;
  border-top: 1px solid #333;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  text-align: center;
  color: var(--color-text-primary)
}

.app-footer p {
  margin: 0.3rem;
}